<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Tarefas</title>

        <link rel="stylesheet" href="~/StaticFiles/assets/main.css" />
    </head>
    <body>
    <main>
        <h1> Sistema de Tarefas 0.1</h1>
        <img src="/assets/cadastro.jpg" alt="Cadastro" />
    </main>
    </body>
</html>