<h2>Lista de Tarefas</h2>

<p><a asp-action="Criar">Criar Nova Tarefa</a></p>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data de Criação</th>
            <th>Concluída</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>